*.pdf
*.synctex.gz

main.*
!main.tex
!main.pdf
!Aufgabenstellung.pdf

*.log
*.aux
*.auxlock

!sections/img
!sections/img/*

!cover/img/*

!typst/**/*.pdf

.DS_Store

graphs/tikz/*
!graphs/tikz/.gitkeep